*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
   flex-wrap: wrap;
}

.header { 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(https://startbootstrap.github.io/startbootstrap-creative/assets/img/bg-masthead.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header .header-text ul li{
    margin-top: 30px;   
    margin-left: 20px;
    list-style: none;
}
.header .boxes{
    justify-content: space-between;
    align-items: center;
}
.header .header-text ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(180, 179, 179);
    text-decoration: none;   
}

header .header-text ul li a:hover{
    color: white;
    cursor: pointer;
}

.header .container .logo h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: rgb(180, 179, 179);    
    margin-top: 30px;
}

.header .container .logo:hover h1{
    cursor: pointer;
    color: white;
}


.header .bottom-header{
    margin-top: 10%;
    text-align: center;
}

.header .bottom-header pre{
font-size: 4rem;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: normal;
display: inline-block;
color: white;
margin-bottom: 20px;
}

.header .bottom-header hr{
    width: 5%;
    margin:15px auto;
    border: none;
    height: 4px;
    background-color: tomato;
}

.header .bottom-header p{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 60%;
    color: rgb(218, 214, 214);
    font-size:1.3rem;
    text-align: center;
}


.header .bottom-header a{
    display: inline-block;
    text-decoration: none;
    padding: 22px 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: tomato ;
    color:white;
    border-radius: 40px;
    font-size: 0.9rem;

}


.header .bottom-header a:hover {
    background-color: rgb(233, 99, 75);
    transition: 0.2s ease-in-out;
}

/*section1*/

.section1{
    height: 480px;
    background-color: tomato;
    justify-content: center;
    align-items: center;
}

.box{
    width: 56%;
    margin: auto;
    text-align: center;
}
.section1 h1{
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.section1 p{
    color: white;
    text-align: center;
    margin-bottom: 70px;
    font-size: 1.2rem;
    
}

.section1 a{
padding: 22px 36px;
background-color: white;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
text-decoration: none;
color: black;
border-radius: 40px;
}

.section1 hr{
    width: 5%;
    margin: 30px auto;
    height: 4px;
    background-color: white;
    border: none;
}

/* section2 */
.section2{
    height: 480px;
    width: 100%;
}

.section2 hr{
    width: 5%;
    margin: 30px auto;
    height: 4px;
    background-color: tomato;
    border: none;
}

.section2 .title h1{
    margin-top: 120px;
    text-align: center;
    font-size: 2rem;
    color: black;
}
.section2 .boxes{
    display: flex;
    padding-top: 70px;
   
}
.section2 .boxes .box{
    justify-content: space-around;
}

.section2 i{
    color: tomato;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.section2 h1{
    margin-bottom: 11px;
    font-weight: normal;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.section2 p{

    color: rgb(104, 104, 104);
    margin-left: 24px;
    font-size: 1.2rem;
}


/**/

.s3 {
    width: 100%;
    height: 513px;
}

.s3 .boxes{
    width: 100%;
    margin: auto;
}

.s3 .boxes .box{
    float: left;
    width: 33.333%;
    position: relative;

}

.s3 .boxes .box img{
    width: 100%;
    vertical-align: middle;
}

.s3 .boxes .box .color{
    position: absolute;
    background-color: rgba(255, 99, 71, 0.836);
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
}

.s3 .boxes .box:hover .color{
    opacity: 1;
    transition: 0.2s ease-in-out;

}

.s3 .boxes .box .color h1{
    margin-top: 90px;
    color: rgb(228, 228, 228);
    font-size: 1rem;
    margin-bottom: 5px;
}

.s3 .boxes .box .color p{
    color: white;
    font-size: 1.8rem;
}


 /**/



.section4{
    height: 380px;
    width: 100%;
    background-color: #212529;
}

.section4 h1{
    font-size: 2.2rem;
    font-weight: normal;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 100px;
}

.section4 a{
    margin-left:43% ;
    padding: 22px 30px;
    background-color: white;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: bolder;
}

/* section5 */

.section5{
    height: 1000px;
    border-color: white;
    width: 100%;
}

.section5 h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    color: black;
    text-align: center;
    padding-top: 120px;
}


.section5 hr{
    width: 5%;
    margin: 25px auto;
    border: none;
    background-color: tomato;
    height: 4px;
}


.section5 pre{
    font-size: 1.1rem;
    color: gray;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 35px;
}

.section5 .form{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section5 input{
    width: 588px ;
    height: 58px ;
    margin: 10px auto;
    border-radius: 5px; 
    border: 1px solid rgb(165, 162, 162);  
} 

.section5 textarea{
    width: 588px;
    border-radius: 5px; 
    border: 1px solid rgb(165, 162, 162);
    margin-top: 17px;
}

.section5 a{
    text-decoration: none;
    margin: 30px auto;
    padding: 22px 260px;
    border-radius: 45px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section5 a:hover {
    background-color: rgb(221, 90, 66);
    transition: 0.5s ease-in-out;
}

.section5 i{
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 2rem;
    color: gray;
}

.section5 p{
    font-size: 1.1rem;
    margin-right: 15px;
}

::placeholder{
    padding-top: 10px;
    font-size: 1.1rem;
    color: gray;
}

/* footer */

footer{
    width: 100%;
    height: 117px;
    background-color: rgb(233, 233, 233);
}

footer p{
    font-size: 1.1rem;
    padding-top: 3%;
    color: #4e5a64 ;
    text-align: center;
}